footer{
    text-align: center;
    background-color: var(--primaryBackground);
    padding: 70px;
    margin-top: 50px;
    i{
        margin: 5px;
        color: var(--primaryColor);
    }
    p{
        @media screen and (max-width: 500px) {
            font-size: 13px;
        }
    }
}