header{
    background-color: var(--headingColor);
    height: 10vh;
    line-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .logo{
        margin-top: 10px;
    }
    .nav{
        display: flex;
        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 10vh;
            left: -80%;
            top: 1rem;
            border-radius: 10px;
            width: 40%;
            list-style-type: none;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
            text-align: center;
            background-color: var(--headingColor);
        }
        @media screen and (max-width: 600px) {
            width: 60%;
        }
        @media screen and (max-width: 360px) {
            width: 70%;
        }
        li{
            list-style-type: none;
            a{
                margin-left: 20px;
                font-size: 15px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    display: block;
                    color: var(--white);
                    margin-left: 0;
                }
            }
        }
    }
    .hideMenu{
        left: 1rem;
        transition: 0.5s;
    }
    .toggle{
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
            background: none;
            font-size: 25px;
            margin-top: 0;
        }
    }
}