@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #212222;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2f3030;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
a {
    color: var(--greyDark);
    text-decoration: none;
    transition: 0.5s;
  }
  a:hover {
    color: var(--primaryColor);
  }
  p {
    color: var(--sliver);
    font-size: 15px;
    line-height: 30px;
    margin: 20px 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  .container {
    max-width: 90%;
    margin: auto;
  }
  .flexsb {
    display: flex;
    justify-content: space-between;
  }
  button {
    border: none;
    outline: none;
    background: none;
    font-size: 17px;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: 15px 50px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  @media screen and (max-width: 650px) {
    button{
        padding: 10px 30px;
        font-size: 14px;
    }  
  }
  @media screen and (max-width: 370px) {
    button{
        padding: 10px 30px;
        font-size: 11px;
    }  
  }

  .fontSize {
    font-size: 20px;
  }
  .primaryBtn {
    background: none;
    border: 2px solid var(--primaryColor);
  }
  button{
    background-color: var(--primaryColor);
    outline: none;
    border: none;
    color: #fff;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 17px;
    transition: 0.7s;
    cursor: pointer;
  }
  
  button:hover{
    background-color: #e0a80d73;
  }
  
  .row{
    width: 50%;
  }
  
  @media screen and (max-width: 675px) {
    .row{
      width: 100%;
    }
  }
  
  p{
    line-height: 30px;
  }
  
  .flex{
    display: flex;
  }
  
  .control-btn button{
    background: none;
    padding: 9px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
  
  .control-btn button:hover{
    background-color: #e0a80d73;
    border: 2px solid #e0a80d73;
  }
  
  .control-btn .next{
    position: absolute;
    top: 50%;
    right: 2%;
  }
  
  .control-btn .prev{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 99;
  }